/* Rapunzel*/ 
/* This theme is inspired by cherry red aesthetics and follows a general pattern of having cherry red and dark red colour palette */ 
/* version: 1.0 */ 
/* date: 2026-10-5 */ 

body {
	--radius-s: 0px;
	--radius-m: 0px;
	--radius-l: 0px;
	--input-radius: 0px;
	--tab-radius-active: 0px;
	--checkbox-radius: 0px;
	--toggle-radius: 0px;
	--toggle-thumb-radius: 0px;
	--slider-thumb-radius: 0px;
	--font-text-theme: InconsolataGo;
}

.theme-dark {
	--text-title-h1: #d99696;
	--text-title-h2: #857575;
	--text-title-h3: #bfdbcf;
	--text-title-h4: #9b6db0;
	--text-title-h5: #d8bfdb;
	--text-link: #b4b4b4;
	--text-a: #d8bfdb;
	--text-a-hover: #d8bfdb;
	--text-mark: #bfc7db;
	--background-primary: #2b0309;
	--background-secondary: #2b0309;
}

.theme-light {
	--text-title-h1: #d99696;
	--text-title-h2: #857575;
	--text-title-h3: #bfdbcf;
	--text-title-h4: #9b6db0;
	--text-title-h5: #d8bfdb;
	--text-link: #b4b4b4;
	--text-a: #d8bfdb;
	--text-a-hover: #d8bfdb;
	--text-mark: #bfc7db;
	--background-primary: #380910;
	--background-secondary: #380910;
}

body {
	--background-primary: transparent;
	--background-secondary: transparent;
	--divider-width: 0.5px;

	--text-normal: #dbbfbf;
	--text-faint: #b2b2b2;
	--text-link: #b4b4b4;
	--text-a: #d8bfdb;
	--text-a-hover: #d8bfdb;
	--text-mark: #bfc7db;
	--code-background: var(--background-secondary);
	--interactive-accent: #5e212a;
	--interactive-accent-hover: #5e212a;
	--interactive-before: #5e212a;
	--blockquote-border: #5e212a;
	--tag-background: #5e212a;
	--interactive-accent: #5e212a;
	--font-family-editor: 'Rubik';
	--font-family-preview: 'Rubik';
	--bg-sub-accent-55: #5e212a;
	--bg-accent-55: #5e212a;
	--bg-accent-25: #5e212a;

	--text-highlight-bg: #5e212a;
	--background-modifier-border: #5e212a;
	--table-border-color: #5e212a;
	--test-color: #5e212a;
	--file-line-width: 1000px;
	--editor-border-color: #101014;

	--checkbox-color: #e87283;

	--hr-color: #5e212a;
	--hr-thickness: 2px;
}

.markdown-rendered h1 { color: #91aaab !important; }
.markdown-rendered h2 { color: #dbcdbf !important; }
.markdown-rendered h3 { color: #bfdbcf !important; }
.markdown-rendered h4 { color: #bfc7db !important; }
.markdown-rendered h5 { color: #d8bfdb !important; }

/* Italic */
.cm-em { color: #a9a1d1; }
.markdown-rendered em { color: #a9a1d1 !important; }

/* Bold */
.cm-strong { color: #ba84b7; }
.markdown-rendered strong { color: #ba84b7 !important; }

.workspace-tab-header.is-active::before, .workspace-tab-header.is-active::after {
	display: none;
}

svg * {
	stroke-linecap: square;
	stroke-linejoin: miter;
	rx: 0;
	ry: 0;
}

.menu {
	padding: var(--size-2-1);
}

.menu-item {
	padding: var(--size-4-1) var(--size-4-2);
}

.menu-separator {
	margin: var(--size-2-1) calc(var(--size-2-1) * -1);
}
